.search-bar {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  border: 3px solid #1f3a5f;
  border-radius: 20px;
  overflow: hidden;
  max-width: 650px;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  transition: all 0.25s ease;
}

.search-bar:hover {
  max-width: 800px;
}

.search-bar::after {
  max-width: 800px;
  color: #333333;
}

.search-bar input,
.search-bar select {
  color: #333333;
  border: none;
  outline: none;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 400;
  font-size: 20px;
  flex: 1;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-btn {
  background-color: #f5ba13;
  color: #1f3a5f;
  border: 3px solid #1f3a5f !important;
  border-radius: 10px !important;
  border: none;
  width: 50px;
  height:50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
}

.search-btn:hover {
  background-color: white;
  color: #f5ba13;
}