.modal {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
  display: flex;
  justify-content: center;
}

.form {
  background-color: white;
  font-family: "Open Sans";
  padding: 25px;
  border-radius: 8px;
  width: 450px;
  height: 840px;
}

label {
  color: #1f3a5f;
  font-weight: 700;
  margin-top: 12px;
  font-size: 15px;
  display: block;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  border-radius: 6px;
  border: 2px solid #1f3a5f;
  font-size: 15px;
  color: #333333;
}

textarea {
  min-height: 100px;
  resize: none;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 6px;
}

.age-group {
  display: flex;
  gap: 10px;
}

.age-group div {
  flex: 1;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancel {
  background-color: #1f3a5f;
  font-size: 15px;
  font-weight: 700;
  color: #FFC72C;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.submit {
  background-color: #FFC72C;
  font-size: 15px;
  font-weight: 700;
  color: #1f3a5f;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.cancel:hover,
.submit:hover {
  color: white;
}